<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handling Path Variables in API</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="heading">
        <H1>This is an API for Handling Path Variables</H1>
        <H4>Please utilize the following endpoint to access the API and retrieve user information:</H3>
        <H3>/api/user/{desired_username} </H3>    
    </div>
    
</body>
</html>